{
  "sql_m": {
    "host": "172.19.4.245",
    "user": "admin",
    "password": "yto12345",
    "database": "ytodb",
    "port": "3306",
    "connectionLimit": "180"
  },
  "sql_s": {
    "host": "172.19.4.245",
    "user": "admin",
    "password": "yto12345",
    "database": "ytodb",
    "port": "3306"
  },
  "sql_moni": {
    "host": "172.19.4.250",
    "user": "admin",
    "password": "yto12345",
    "database": "yto_monitor",
    "port": "3306"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "webConfig": {
    "env": "dev",
    "port": "80"
  },
  "users": {
    "yto": {
      "id": "yto",
      "user": "华北转运中心",
      "password": "Yto@100901"
    }
  }
}